table {
    margin: auto;
}

h1 {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 75px;
    color: white;
}

body {
    background-color : #ff5733;
}

img {
    width: 120px;
}
